language: node_js
node_js:
  - "14"
  - "12"
  - "10"
  - "node"
env:
  - CXX=g++-4.8
before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get -qq update
  - sudo apt-get -qq install g++-4.8
install: "NODE_ENV=development yarn install && yarn build"
after_success: "yarn global add coveralls && yarn coverage && cat ./coverage/lcov.info | coveralls"
